/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 Apr 2018, 1:44:20 PM
    Author     : johnb
*/

#googleMap {
    width: 70%; 
    height: 400px; 
    margin: 10px;
}
